/* 자주 사용하는 CSS 코드를 모아놓는 곳 */

/* 가리기 */
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}
/* float를 claer하는 코드로, float를 가지고 있는 content의 부모 div를 만들어 해당 className을 추가 */
.float-clear::after{
    content: "";
    display: block;
    clear: both;
}

/* 자판기 전체의 레이아웃 */
.container{
  margin: 15% auto;
  border: 10px solid rgb(255, 153, 0);
  border-radius: 2%;
  width: 800px;
  background-color: #d71d1d;
  position: relative;
}
/* 음료 선택 버튼 */
.drink-choose__btn{
  padding: 5px;
  border: 2.5px solid black;
  border-radius: 10%;
  width: 100px;
  background-color: white;
}
/* 음료 선택 버튼에 마우스 올라갔을 때 포인터 변경 */
.drink-choose__btn:hover{
  cursor: pointer;
}